<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Databros</title>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    <script src="/js/bootstrap.js"></script>
  </head>
  <body>
    <!-- navbar -->
    <nav class="navbar navbar-expand-sm bg-light justify-content-center nav-logo">
      <div class="navbar-nav">
        <h1 class="text-logo"><i class="fas fa-chart-bar"></i>Data<span class='notbold'>bros</span></h1>
      </div>
    </nav>
    <nav class="navbar navbar-expand-sm bg-light justify-content-center sticky-top nav-links">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/contact">Contact</a>
        </li>
      </ul>
      </ul>
    </nav>

    <!-- welcome jumbo -->
    <div class="jumbotron jumbotron-fluid">
      <div class="container welcome text-center">
        <h1 class="main-text text-logo">Welcome to Databros</h1>
      </div>
    </div>

    <!-- what we do -->
    <section class="container">
      <div class="row text-center">
        <div class="col-md-12">
          <h1 class="main-text sub-intro">What we do</h1>
        </div>
        <div class="col-md-4">
          <img src="http://avtech.com/images/home/icons/Icon_Fluid_Temp.png" class="thumbs"></img>
          <h2>Analyze</h2>
        </div>
        <div class="col-md-4">
          <img src="http://avtech.com/images/home/icons/Icon_Fluid_Temp.png" class="thumbs"></img>
          <h2>Analyze</h2>
        </div>
        <div class="col-md-4">
          <img src="http://avtech.com/images/home/icons/Icon_Fluid_Temp.png" class="thumbs"></img>
          <h2>Analyze</h2>
        </div>
      </div>
    </section>



    <section class="container">
      <div class="row text-center">
        <div class="col-md-12">
          <h1 class="main-text sub-intro">Meet the Bros</h1>
        </div>
        <div class="col-md-4">
          <img src="http://avtech.com/images/home/icons/Icon_Fluid_Temp.png" class="thumbs"></img>
          <h2>Bro 1</h2>
        </div>
        <div class="col-md-4">
          <img src="http://avtech.com/images/home/icons/Icon_Fluid_Temp.png" class="thumbs"></img>
          <h2>Bro 2</h2>
        </div>
        <div class="col-md-4">
          <img src="http://avtech.com/images/home/icons/Icon_Fluid_Temp.png" class="thumbs"></img>
          <h2>Bro 3</h2>
        </div>
      </div>
    </section>





  </body>
</html>
